body {
    background: rgb(224, 160, 63);
    background: radial-gradient(circle, rgb(224, 160, 63) 0%, rgb(243, 47, 21) 100%);
}

.card {
    height: unset;
    margin-top: 20px;

    flex: 0 0 200px;
    margin: 10px;
}

#menuItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.card-header {
    background: rgb(253, 58, 45);
    background: linear-gradient(180deg,rgb(255, 161, 44) 0%, rgb(253, 58, 45) 100%);
}

.card-img-top {
    width: 60%; 
    height: auto;
}

.card-body {
    max-height: unset; 
    overflow-y: hidden;
}

.card-footer {
    background: rgb(255,135,44);
    background: linear-gradient(180deg, rgb(255,135,44) 20%, rgb(254,97,44) 80%);; 
}

.search-card {
    width: 200px; 
    margin: 10px;
}


.search-image {
    max-height: 100px; 
    object-fit: cover; 
}

.btn-primary {
    background-color: #f8f9fa; 
    color: #000; 
}

.btn-primary:hover {
    background: rgb(253,221,45);
    background: linear-gradient(190deg, coral 20%, deeppink 80%);
}


.btn-success {
    background-color: #61c94a; 
    color: #000; 
}

.btn-success:hover {
    background: rgb(253,221,45);
    background: linear-gradient(190deg, coral 20%, deeppink 80%);
}